.modal--width {
  width: 31.25rem !important;
}

.spacing-confirmation {
  padding-top: 1.125rem;
}

.spacing-doubt {
  padding-top: 1rem;
  margin-bottom: -1rem;
}

.ml150 {
  margin-left: 9.25rem;
}
